#DATABASE_URL="postgresql://postgres:kevincatiline@localhost:5432/backend_auth_training?schema=public"
DATABASE_URL="postgresql://neondb_owner:npg_ncqN9SmM7wgx@ep-small-sun-aqlmyv5r-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=verify-full&channel_binding=require"

PORT=3333
JWT_SECRET="812e3a21253473f0f9306a31a0370ddad7515edf6a53cfd45ad2942845188374"
JWT_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"

REGISTRATION_TOKEN="8a1dd801359153dd449b41fc01d9bd5e35fdbf2b1a12b27863684d54e1c88826"
