DATABASE_URL="postgresql://user:password@localhost:5432/backend_auth_training?schema=public"

PORT=3333
JWT_SECRET="change-this-jwt-secret"
JWT_EXPIRES_IN="7d"
API_ACCESS_TOKEN="change-this-api-access-token"
REGISTRATION_TOKEN="change-this-registration-token"

FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
